
<!--begin::Footer-->
	<div class="footer bg-white py-4 d-flex flex-lg-column" id="kt_footer">

		<!--begin::Container-->
		<div class="container-fluid d-flex flex-column flex-md-row align-items-center justify-content-between">

			<!--begin::Copyright-->
			<div class="text-dark order-2 order-md-1">
				<span class="nav-link pl-0 pr-0">TEL : 00971 4 3525728 | FAX : 00971 4 3525729&nbsp;&nbsp;&nbsp;    
					<a href="#" style="color:forestgreen">dubai@ever-global.com</a>
				</span>
			</div>
			<div class="nav nav-dark">
				<span class="text-muted font-weight-bold mr-2"></span>
				<a href="index.php" target="_blank" class="text-dark-75 text-hover-primary">Copyright © 2020 EVERGLOBAL - ALL RIGHTS RESERVED.</a>
			</div>
			<!--end::Copyright-->

		</div>

		<!--end::Container-->
	</div>

<!--end::Footer-->

