
<!--begin::Header-->
<div id="kt_header" class="header header-fuild">
	<div class="container-fluid d-flex align-items-stretch justify-content-between">
		<!--begin::Header Menu Wrapper-->
		<div class="header-menu-wrapper header-menu-wrapper-left" id="kt_header_menu_wrapper">
			<!--begin::Header Logo-->
			<div class="header-logo">
				<a id="hdrHomeLinkHref" href="index.php">
					<img alt="Logo" src="assets/media/logos/logo-dark.png">
				</a>
			</div>
			<!--end::Header Logo-->
		</div>
		<!--end::Header Menu Wrapper-->
		<!--begin::Topbar-->
		<div class="topbar">
			<div id="hdrLoginBtn" class="topbar-item">
				<button onClick="javascript:location.href = '?page=login'" type="button" class="btn btn-link" style="color:black">Log In</button>
			</div>
			<!--end::Cart-->
			<!--begin::Quick panel-->
			<div id="hdrRegisterBtn" class="topbar-item">
				<button type="button" onClick="javascript:location.href = '?page=register'" class="btn btn-link" style="color:black">Register</button>
			</div>

			<div id="hdrLogoutBtn" class="topbar-item" style="display: none;">
				<button type="button" onClick="javascript:logout()" class="btn btn-link" style="color:black">Log Out</button>
			</div>

			<div id="hdrUserDetailsBtn" onClick="viewUserProfile();" class="topbar-item" style="display: none;">
				<div class="btn btn-icon btn-icon-mobile w-auto btn-clean d-flex align-items-center btn-lg px-2" id="kt_quick_user_toggle">
					<span id="hdrUserIdSpan" class="text-dark-50 font-weight-bolder font-size-base d-none d-md-inline mr-3">Hi Guest, </span>
					<span class="symbol symbol-lg-35 symbol-25 symbol-light-success">
						<span id="hdrUserIdLetterSpan" class="symbol-label font-size-h5 font-weight-bold">G</span>
					</span>
				</div>
			</div>
			<!--end::User-->
		</div>
		<!--end::Topbar-->
	</div>
</div>

<!--end::Header-->